fastapi
uvicorn
sqlalchemy
psycopg2
python-jose
passlib[bcrypt]
python-multipart
jose
jwt 
email-validator
stripe
fastapi-mail
aiosmtplib
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
httpx
google-generativeai